/* FONTS */

/*@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("http://localhost:8000/assets/fonts/WorkSans-Medium.woff2") format("woff2");
}*/
