/* CSS VARIABLES */

:root {

    /* Fonts */
    --font-sans: Helvetica, Arial, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    /* Colors */
    --alpha: .25;
    --color-white: #FFF;
    --color-grey:  rgba(0, 0, 0, var(--alpha));
    --color-black: rgba(0, 0, 0, 1);
    --color-background: var(--color-white);
    --color-text: var(--color-black);
    --color-focus-ring: var(--color-text);
    --color-disabled: var(--color-grey);

    /* Space scale */
    --space-no: 0;                          /* 0px */
    --space:    .275em;                     /* typographic space */
    --space-xs: 0.625rem;                   /* 10px */
    --space-sm: calc(var(--space-xs) * 5);  /* 50px */
    --space-md: calc(var(--space-xs) * 10); /* 100px */
    --space-lg: calc(var(--space-xs) * 20); /* 200px */

    /* Type scale */
    --text-sm: 0.75rem;   /* 12px */
    --text-md: 0.9375rem; /* 15px */

    /* Layout */
    --wrapper-max-width: 100vw;
    --gutter: var(--space-xs);
    --header-height: 4.75rem;
    --flow-space: var(--gutter);

    /* Borders */
    --border-width: 1px;
    --border-color: var(--color-black);
    --border: var(--border-width) solid var(--border-color);

    /* Grid & columns */
    --auto-grid-placement: auto-fill;
    --gap: var(--space-xs);
    
    /* Prose */
    --max-width: 64ch;
    
    /* Transitions */
    --timing: 200ms;
    --easing: ease;
}
