/* AUTO-GRID COMPOSITION */

.auto-grid {
  --column-gap: var(--gap);
  --row-gap: var(--gap);
  display: grid;
  grid-template-columns: repeat(
    var(--auto-grid-placement, auto-fill),
    minmax(var(--min, 50%), 1fr)
  );
  grid-gap: var(--row-gap) var(--column-gap);
  gap: var(--row-gap) var(--column-gap);
}
