/* FLEX-COLUMNS COMPOSITION */

.flex-columns {
  display: flex;
  flex-direction: column;
  margin-right: -1px;
}

@media (min-width: 60rem) { /* >= 960px */
  .flex-columns {
    flex-direction: row;
  }
  .flex-columns > * {
    flex-grow: 1;
  }
}
