/* GLOBAL CSS */

html {
  font-size: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: var(--text-md);
  font-family: var(--font-sans);
  line-height: 1.2; /* 18/15 */
  font-weight: 400;
  text-rendering: optimizeSpeed;
  font-variant-ligatures: common-ligatures;
  -moz-font-feature-settings: "liga", "clig"; 
  -webkit-font-feature-settings: "liga", "clig"; 
  font-feature-settings: "liga", "clig";
  background-color: var(--color-background, white);
  color: var(--color-text, black);
  padding: var(--gutter) 0;
}

/* If an element is [hidden] it needs to be max priority */
.hidden, [hidden] {
  display: none !important;
}

/* Disabled state */
.disabled, [disabled] {
  opacity: var(--alpha);
}

/* Placeholder */
::placeholder {
  font: inherit;
  color: rgba(0, 0, 0, .54);
}

/* Scrollbar */
* {
  scrollbar-width: auto;
  scrollbar-color: #00000040 #00000000
}
::-webkit-scrollbar { width: 5px; height: 5px }
::-webkit-scrollbar-track { background-color: #00000000 }
::-webkit-scrollbar-thumb { background-color: #00000040; border-radius: 4px }

/* Main */

main {
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
  font-size: var(--text-md);
  font-weight: 400;
  text-wrap: balance;
  position: relative;
}

h1 > a, 
h2 > a, 
h3 > a, 
h4 > a, 
h5 > a, 
h6 > a {
  text-decoration: none;
  border-bottom: none;
}

*:not(.sr-only) + h2,
*:not(.sr-only) + h3 {
  margin-top: var(--space-xs);
}

/* General typesetting */

p {
  max-width: 41em;
}

/* Lists */

ul:not([class]),
ol:not([class]) {
  list-style: none;
  padding-left: 0;
}

/* Blockquotes */

blockquote {
  padding-left: 0;
}
blockquote > * {
  padding-left: var(--space-md);
}

/* Separators */

hr {
  border: none;
  border-top: var(--border);
  margin-inline: 0;
}

hr,
hr + * {
  --flow-space: var(--space-xs);
}

/* Sub and sup */
sub,
sup {
  font-size: 0.666em;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: middle;
  position: relative;
  top: -1ex;
}

/* Address */

address {
  font: inherit;
}

/* Details */

summary {
  -webkit-appearance: none;
  list-style: none;
  cursor: pointer;
  width: fit-content;
  display: flex;
  -webkit-user-select: none;
  user-select: none;
}
summary::-webkit-details-marker,
summary::marker {
 display: none; 
 content: "";
}
summary::before {
  content: '+';
  margin-right: var(--space);
  text-decoration: ;
}
summary:hover {
  color: var(--color-link-hover, LinkText);
}
summary:hover > * {
  text-decoration: underline;
}
summary + p {
  margin-top: 0;
}
summary + .gallery,
summary + figure {
  margin-top: .5em;
}
details[open] > summary::before {
  content: '−';
}


/* Media */

figure {
  width: fit-content;
  height: fit-content;
}
figcaption {
  font-size: var(--text-md);
  margin: .16666667em 0;
  position: relative;
}
figcaption::before {
  float: right;
  margin-left: var(--gap);
}
figure + p {
  margin-top: var(--space-xs);
}

video {
  background-color: var(--color-gray);
  max-width: 100%;
  border-radius: var(--rounded-md);
}

/* Selects images that are likely to have a transparent BG and applies a */
/* theme-driven mask to them */
img[src$='.svg'],
img[src$='.png'] {
  background-color: transparent;
}
img {
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
[data-ratio="auto"] img {
  height: auto;
}

/* Links */

a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: currentColor;
}
a:hover {
  color: currentColor;
}

a.link-full::after {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  z-index: 1;
  transition: outline var(--timing) var(--easing);
}
a.link-full:focus-visible {
  outline-width: 0;
}
a.link-full:focus-visible::after {
  outline: none;
  outline-offset: 2px;
  text-decoration: underline;
}

main a {
  text-decoration: underline;
  text-decoration-color: var(--color-grey);
}
main a:active,
main a:hover {
  text-decoration-color: currentColor;
}

/* Form, Input, Buttons */

form {
  display: flex;
  gap: var(--space-xs);
}
input {
  font: inherit;
  max-height: 1.125rem; /* 18px */
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}
button {
  cursor: pointer;
}

/* General interactive states */

:focus-visible {
  outline: none;
  text-decoration: underline;
  outline-offset: 0;
  color: var(--color-background) !important;
  background: var(--color-text);
}
input:focus-visible {
  text-decoration: none;
  color: var(--color-text) !important;
  background: var(--color-background);
}

:target {
  scroll-margin-top: 0;
}

/* High contrast selection style */
::selection {
  background: var(--color-grey);
}
