/* CARD BLOCK */

.card {
  --padding: clamp(1.5rem, 0.5rem + 5vw, 5rem);
  display: flex;
  flex-direction: column;
  position: relative;
  padding: var(--padding);
}

.card header {
  display: flex;
  flex-direction: column-reverse;
}

.card__title > a {
  font: inherit;
  color: currentColor;
}

.card__date {
  position: absolute;
  bottom: var(--padding);
  right: var(--padding);
}

.card:hover {
  background-color: var(--color-background-hover);
}
