/* PREV NEXT BLOCK */

.prev-next, .back {
  min-height: 3rem;
  height: clamp(3rem, 1rem + 8.889vw, 9rem);
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--color-background);
  transition: color var(--timing), background-color 300ms, opacity var(--timing);
}

.prev-next {
  position: fixed;
  left: 0;
  right: 0;
  bottom: calc(-100vh + 100%);
  bottom: calc(-100dvh + 100%);
  padding: 0;
  justify-content: center;
  z-index: 1;
}

.back {
  position: fixed;
  min-height: 2.5rem;
  top: clamp(4.75rem, 3.333rem + 6.296vw, 9rem);
  left: 0;
  right: 0;
  padding: .5em var(--gutter);
  justify-content: flex-start;
  background-color: var(--color-background);
  z-index: 10
}
.back > span {
  margin-left: .75em;
}

.prev {
  justify-content: flex-end;
}

.prev-next a {
  height: 100%;
  padding: .5em var(--gutter);
  display: inherit;
  align-items: inherit;
  flex-grow: 1;
}

.prev-next a:hover,
.back:hover {
  background-color: var(--color-background-hover);
  color: var(--color-text-secondary);
}
.invert .prev-next a:hover,
.invert .back:hover {
  color: var(--color-primary-700);
}

.invert .prev-next,
.invert .back,
.invisible {
  opacity: 0;
  visibility: hidden;
}

@media (min-width: 50rem) {

  .prev-next, .back {
    position: fixed;
    left: unset;
    top: 0;
    right: 4rem;
    right: clamp(4rem, 2.333rem + 7.407vw, 9rem);
    background: transparent;
    z-index: 10;
  }

  .back {
    min-height: 4rem;
    height: clamp(4rem, 2.333rem + 7.407vw, 9rem);
    right: calc(clamp(4.75rem, 3.333rem + 6.296vw, 9rem) + 21.5em);
  }
  .back > span {
    display: none;
  }

  .prev-next a {
    flex-grow: 0;
  }

  .prev-next__separator {
    margin: 0 .25em;
  }

}

@media (min-width: 90rem) {

  .back > span {
    display: initial;
  }


}