/* LAYOUT BLOCK */

.layout .blocks.sticky {
	position: sticky;
	top: var(--header-height);
}

.layout.grid [data-ratio]:not(.gallery) img {
  width: 100%;
}

@media (min-width: 67.5rem) {

  [data-template="creation"] section .layout > .column:first-child .blocks-images,
  #home section .layout > .column:first-child .blocks-images {
    margin-left: calc(-1 * var(--gutter));
  }
  [data-template="creation"] .layout > .column:last-child .blocks-images,
  #home section .layout > .column:last-child .blocks-images {
    margin-right: calc(-1 * var(--gutter));
  }

}