/* SPLIDE BLOCK */

.splide {
  --pb: 1.28125rem;
  display: flex;
  overflow: hidden;
  padding-bottom: var(--pb);
}

/* Counter */
.splide::before {
  content: attr(data-index)'/'attr(data-count);
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Arrows */
.splide__arrow {
  top: 0;
  transform: translateY(0%);
  background: none;
  border-radius: 0;
  opacity: 1;
  height: calc(100% - var(--pb));
  width: 50%;
}
.splide__arrow:focus,
.splide__arrow:focus-visible {
  outline: none !important;
}
.splide__arrow--prev {
  left: 0;
  cursor: w-resize;
}
.splide__arrow--next {
  right: 0;
  cursor: e-resize;
}
.splide__arrow abbr {
  --left: 3rem;
  text-decoration: none;
  position: absolute;
  bottom: calc(-1 * var(--pb));
  cursor: pointer;
}
.splide__arrow--prev abbr {
  left: var(--left);
}
.splide__arrow--next abbr {
  left: calc(-100% + var(--left) + 2.5rem);
}

/* Caption */
.splide figcaption {
  display: none;
}
.splide::after {
  content: attr(data-caption);
  position: absolute;
  bottom: 0;
  left: calc(var(--gutter) * 15);
}