/* HEADER BLOCK */

/* Header */

.header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: var(--header-height);
	padding: 0 var(--gutter);
	margin-bottom: var(--space-xl);
}

.header > div {
	width: fit-content;
}

.logo::after,
#menu > *:not(:last-child)::after,
#tags > .tag:not(:last-child)::after {
	content: ',';
	display: inline-block;
	margin-right: var(--space);
}


/* Logo */

.logo {
	display: flex;
}


/* Nav */
#nav {
	position: absolute;
  left: 3.85em;
}

/* Menu & Tags */

#menu,
#tags {
	padding: 0;
	margin: 0;
	display: flex;
}

#tags {
	flex-wrap: wrap;
	position: relative;
}

#menu li {
	list-style: none;
	display: flex;
	white-space: pre;
}

#menu a[aria-current],
#tags a[aria-current] {
	text-decoration: underline;
}
#menu a:hover,
#tags a:hover {
	text-decoration: underline;
	color: var(--color-link-hover, LinkText);
}

.tag.active:hover ~ #tags-reset a,
#tags-reset a:hover {
	color: var(--color-text);
	text-decoration: underline;
}


button[aria-controls="tags"] {
	padding: 0;
	display: flex;
	float: left;
	cursor: pointer;
}
button[aria-controls="tags"]:hover {
	color: var(--color-link-hover, LinkText);
}
button[aria-controls="tags"]:hover > span {
	text-decoration: underline;
}
button[aria-controls="tags"]:hover::before {
	color: var(--color-link-hover, LinkText);
}
button[aria-controls="tags"]::before {
	margin-right: var(--space);
}
button[aria-controls="tags"]::after {
	content: ',';
	margin-right: var(--space);
}


/* Search */
#form-search label {
	cursor: pointer;
}
#input-search {
	width: 7em;
}
#input-search:focus {
	outline: none;
	text-decoration: none;
}
#reset-search {
	opacity: var(--alpha);
}
#reset-search:hover,
#reset-search:focus-visible {
	opacity: 1;
	text-decoration: underline;
}

/* Interactions */

.logo::after,
.logo ~ *,
button[aria-expanded="false"] ~ #tags {
	display: none;
}
.header[data-expanded="true"] .logo:after,
.header[data-expanded="true"] .logo ~ *,
.header:hover .logo:after,
.header:hover .logo ~ *,
.header:focus-within .logo:after,
.header:focus-within .logo ~ * {
	display: initial;
}
