/* BLOCK BLOCK */

/* Block */

.block {
  display: flex;
  flex-direction: column;
}

.block h2,
.block p.text-xl {
  max-width: 35rem;
}

.block p {
  max-width: 40rem;
}

.block.text-xl p {
  max-width: 45rem;
}

/* Heading */

.block-type-heading {
  text-wrap: balance;
}

/* Text */

.block-type-text {
  --flow-space: .75em;
}
.block-type-text > * + * {
  margin-top: 1.5em;
  margin-top: var(--flow-space);
}

.block-type-text a {
  text-decoration: underline
}
.block-type-text a:hover {
  color: var(--color-text-secondary);
}
.block-type-text.text-secondary  a:hover {
  color: var(--color-text-primary);
}

/* Button */

.block-type-button {
  --flow-space: clamp(1.5rem, 1.071rem + 2.143vw, 3rem);
}

/* Image */

.block-type-image {
  background-color: var(--color-background);
  transition: background-color var(--timing) var(--easing);
}

.block-type-image svg {
  max-width: 15rem;
  max-height: 15rem;
}
.block-type-image a {
  display: flex;
  position: relative;
}
.block-type-image a::after,
.block-type-image a::before {
  content: '';
  display: block;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  border: 0 solid var(--color-primary-700);
  transition: border var(--timing, .1s) var(--easing);
  z-index: 1;
}
.block-type-image a::after {
  opacity: .1;
}
.block-type-image a::before {
  mix-blend-mode: soft-light;
}

/* Toggle */
.block[data-toggle] {
  --flow-space: 0;
}
details .block[data-toggle] summary {
  padding-left: var(--gutter);
}
.block:not(:last-child) > details {
  margin-bottom: calc(-1 * var(--flow-space));
}

@media (max-width: 67.4375rem) {
  .mobile\:slider.blocks-images {
    display: flex;
    margin: 0 calc(-1 * var(--gutter));
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
  }

  .mobile\:slider.blocks-images > .block-type-image {
    margin-top: 0;
    margin-right: var(--gutter);
    min-width: calc(100% - var(--gutter) * 2);
    scroll-snap-align: start;
  }
}

@media (min-width: 67.5rem) {

  .column:first-of-type > .blocks:first-of-type .block-type-image picture {
    margin-left: calc(-1 * var(--gutter));
  }
  .column + .column > .blocks:first-of-type .block-type-image picture {
    margin-right: calc(-1 * var(--gutter));
  }

}

