/* PROSE BLOCK */

.prose {
  --flow-space: var(----space-xs);
  --wrapper-max-width: calc(75rem + var(--gutter) * 2);
  align-items: flex-start;
  margin: auto;
}

.prose > * + * {
  margin-top: 1.5rem;
  margin-top: var(--flow-space);
}

.prose p:empty {
  display: none;
}

.prose > img,
.prose > table {
  width: 100%;
}

.prose hr {
  margin: 4em 0;
}

.prose a:not(.btn) {
  color: currentColor;
  text-decoration: underline;
}
.prose a:not(.btn):hover {
  color: var(--color-text-secondary);
}
.prose h2 > a,
.prose h3 > a,
.prose h4 > a,
.prose h5 > a,
.prose h6 > a {
  color: var(--color-text);
}

.prose h2 {
  margin-top: 0;
  padding-top: var(--header-height);
}

.prose h3 {
  font-size: var(--text-md);
  font-weight: normal;
  line-height: 1.333;
  letter-spacing: .3rem;
  text-transform: uppercase;
  color: var(--color-text-secondary);
  margin-top: 5rem;
}

/*.prose a[href$='.pdf']:after,
.prose a[href^='http']:not([href*='localhost']):not([href*='://ehohah.fr']):not(.btn):after {
  font-size: smaller;
  font-weight: normal;
  color: currentColor;
  margin-left: .25em;
  text-decoration: none;
}

.prose a[href$='.pdf']:after {
  content: '(PDF)';
}

.prose a[href^='http']:not([href*='localhost']):not([href*='://ehohah.fr']):after {
  content: '↗︎';
}

.prose figure > a[href$='.pdf']:after,
.prose figure > a[href^='http']:not([href*='localhost']):not([href*='ehohah.fr']):after {
  display: none;
}*/

.prose p,
.prose ul,
.prose ol,
.prose blockquote,
.prose figure {
  max-width: var(--max-width);
  font-size: var(--font-size);
}

/* Add more space to elements that follow figures etc */
.prose h2 {
  --flow-space: var(--space-4xl);
}
.prose pre,
.prose pre + *,
.prose figure,
.prose figure + *,
.prose h3 {
  --flow-space: var(--space-3xl);
}
.prose h4 {
  --flow-space: var(--space-2xl);
}

.prose li > figure,
.prose li > figure + * {
  margin-top: var(--space-3xl);
}

/* Main headings should have less space for their */
/* immediate sibling */
.prose h2 + * {
  --flow-space: var(--space-2xl);
}
.prose h3 + *,
.prose h4 + * {
  --flow-space: 1.5em;
}

/* Stacked headings need to maintain larger spacing, however */
.prose h2 + h3 {
  --flow-space: var(--space-2xl);
}

/* Details gets more surrounding space, but the inner elements */
/* should all be equal */
.prose details,
.prose details + * {
  --flow-space: var(----space-xs);
}

.prose details + details {
  margin-top: 0;
}

.prose details > * {
  --flow-space: var(--space-xs);
}

.prose ul {
  list-style: initial;
}

.prose ul,
.prose ol {
  padding-left: 1em
}

.prose ul ul {
  list-style: circle;
}

.prose ul li,
.prose ol li {
  padding-left: 1em;
}

.prose ol li + li,
.prose ul li + li,
.prose li + ul,
.prose li + ol,
.prose ul + li,
.prose ol + li {
  margin-top: 1em;
}

.prose ol {
  list-style: decimal;
  /*counter-reset: ol-list;*/
}

/*
.prose ol > li::before {
  content: counter(ol-list);
  position: absolute;
  left: 0;
}
*/

.prose ol li::marker {
  font-weight: bold;
}

.prose ol > li {
  /* counter-increment: ol-list;*/
  padding-left: 1.5em;
  position: relative;
}


/* An anchor that starts with a hash is a */
/* skip link, so it needs to be visually hidden */
/* until focused or hovered */
.prose:is(h2, h3, h4, h5, h6) a[href^='#'] {
  font-size: 0.9em;
  text-decoration: none;
  color: transparent;
  transform: translateY(-0.2ex);
}
