/* GALLERY BLOCK */

.gallery {
  display: flex;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0 calc(-1 * var(--gutter));
  padding: 0 var(--gutter);
}
.gallery::-webkit-scrollbar {
  display: none;
}

.gallery + .gallery {
  margin-top: var(--gutter);
}
.gallery + p {
  margin-top: .16666667em;
}

.layout .block:first-of-type > .gallery:first-of-type {
  margin-top: var(--space);
}

.gallery > * {
  flex-shrink: 0;
}
.gallery > * + * {
  margin-left: var(--gap);
}
.gallery img {
  user-drag: none;
  user-select: none;
  pointer-events: none;
}

/* Draggable */
.gallery.draggable {
  cursor: grab;
}
.gallery.draggable:active {
  cursor: grabbing;
}