/* BUTTON BLOCK */

button[aria-expanded="false"]::before {
  content: '+';
}
button[aria-expanded="true"]::before {
  content: '−';
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  padding: 0;
  width: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
}

.btn:focus-visible {
  background-color: var(--color-text-secondary);
  color: var(--color-background);
}

.btn:active {
  background-color: var(--color-secondary-700);
  border-color: var(--color-secondary-700);
  color: var(--color-primary-700);
}

@media (hover: hover) {
  .btn:hover {
    background-color: var(--color-text-secondary);
    color: var(--color-background);
  }
}
