/* TEXT UTILITY */

/* Text align */

.text-right  { text-align: right  }
.text-center { text-align: center }
.text-center .after\:underline:after {
  margin-left: auto;
  margin-right: auto;
}

/* Fonts weights */

.font-bold {
  font-weight: bold;
}
.font-normal {
  font-weight: normal;
}

/* Font sizes */

.text-sm,
.text-sm > * { 
  font-size: 1rem;
  font-size: var(--text-sm);
  line-height: 1.5; /* 24px */
}

.text-base,
.text-base > * { /* Body */
  font-size: 1rem;
  font-size: var(--text-md);
  line-height: 1.5; /* 36px */
}

.text-lg,
.text-lg > * { 
  font-size: 1.25rem;
  font-size: var(--text-lg);
  line-height: 1.25; /* 40px */
}

.text-xl,
.text-xl > * { /* Title */
  font-size: 2rem;
  font-size: var(--text-xl);
  line-height: 1.111;
}

.text-2xl,
.text-2xl > * { /* Display */
  font-size: 2.5rem;
  font-size: var(--text-2xl);
  line-height: 1.111;
}

.uppercase {
  font-style: normal;
  font-weight: 400;
  line-height: 1.333;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.max-w-prose {
  max-width: var(--max-width);
}

/* Text colors */

.text-white {
  color: var(--color-white);
}
.text-grey {
  color: var(--color-grey);
}
.text-background {
  color: var(--color-background);
}
.text-transparent {
  color: transparent;
}

/* User select */

.select-none {
  user-select: none;
}

/* Underline */

.underline {
  text-decoration: underline;
}