/* WRAPPER UTILITY */

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--wrapper-max-width, 120rem);
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  position: relative;
  z-index: 1;
}
