/* SCREEN READERS */

.sr-only {
  border: 0;
  clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
