/* ARCHIVES TEMPLATE */

.archive {
	--flow-space: var(--space-xs);
	--date-w: 2.5rem;
	--date-ml: 2rem;
	--ml: calc(var(--date-w) + var(--date-ml));
	counter-reset: figure;
	display: flex;
}

.archive time {
	min-width: var(--date-w);
	margin-right: var(--date-ml);
	font-variant-numeric: tabular-nums;
}

.archive details {
	--flow-space: var(--space);
	margin-left: calc(-1 * var(--ml));
}
.archive summary {
	margin-left: var(--ml);
}
.archive summary + * {
	margin-top: 0;
}
.archive summary + .gallery,
.archive summary + figure {
	margin-top: var(--flow-space);
}
.archive summary::-webkit-details-marker {
	display: none;
}
.archive > details > summary::before {
  content: '';
  display: none;
}

.archive h2 {
	text-decoration: none;
	cursor: pointer;
}
.archive details[open] h2,
.archive h2:hover {
	text-decoration: underline;
}

.archive img {
	height: auto;
}

.archive figcaption {
	min-height: 1rem;
}
.archive figcaption::before {
	counter-increment: figure;
	content: counter(figure)"/"attr(data-count);
}

.archive details[open] > *:last-child {
	margin-bottom: var(--space-sm);
}
.archive details > h3 {
	margin-bottom: 0;
	margin-top: var(--space-xs);
}
.archive details > h3 + p {
	margin-top: 0;
}

.archive .text {
	margin-bottom: var(--gutter);
}