details {
  margin-left: 0;
}

details summary {
  list-style: none;
  margin-bottom: .5rem;
}

details summary .k-writer {
  display: inline-block;
  width: calc(100% - 2rem);
}

details summary::-webkit-details-marker {
  display: none;
}
details summary::before {
  content: '+';
}
details[open] summary::before {
  content: '−';
}