<template>
	<section class="k-analytics-section">
		<header class="k-section-header">
			<h2 class="k-headline">Plausible Analytics</h2>
		</header>
		<iframe plausible-embed src="https://plausible.io/share/cpgm.fr?auth=c18SXystMkvz3gUrXLT3d&embed=true&theme=light&background=transparent" scrolling="no" frameborder="0" loading="lazy" style="width: 1px; min-width: 100%; height: 1600px;"></iframe>
		<div style="font-size: 14px; padding-bottom: 14px;">Stats powered by <a target="_blank" style="color: #4F46E5; text-decoration: underline;" href="https://plausible.io">Plausible Analytics</a></div>
		<script async src="https://plausible.io/js/embed.host.js"></script>
	</section>
</template>

<script>
export default {
	// Put your section logic here
};
</script>

<style>
/** Put your CSS here **/
</style>
