/* PANEL CUSTOM CSS */

.k-topbar {
	--bg: #1A2421;
}

.k-layouts {
	--text-font-size: 15px;
	--text-line-height: 18px;
	font-family: 'Helvetica', var(--font-sans, sans-serif);
}

.k-block-type-gallery ul {
	align-items: flex-start;
}

.k-block-type-image-auto {
	margin-inline: 0;
}

.k-icon-frame[style*='--back: #'] .k-icon {
	color: var(--icon-color) !important;
}

.k-frame :where(img, video, iframe, button) {
	object-position: top left;
}

.k-text {
	max-width: 41em;
}

.k-text blockquote {
	font: inherit;
	padding-inline-start: 100px;
	border-inline-start: none;
}

.k-text small {
	display: inline-block;
	font-size: 12px;
	line-height: 14px;
}