@page {
  margin: 1cm;
}
body {
  margin: 0;
  color: #000;
  background: none;
}
.site-header {
  padding-top: 0;
}
#nav, .site-footer {
  display: none;
}
table, figure, img, svg {
  break-inside: avoid;
}
