/* RESET */
/* A modified version of the modern CSS reset https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
pre {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
}

/* Remove list styles on ul, ol elements with a list role, which suggests */
/* default styling will be removed. */
/* https://github.com/hankchizljaw/modern-css-reset/issues/30 */
ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding: 0;
}

/* Anchor elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

li img,
p img {
  display: inline-block;
  vertical-align: sub;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}

/* Remove the default border on iframes */
iframe {
  border: 0;
}/* FONTS */

/*@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("http://localhost:8000/assets/fonts/WorkSans-Medium.woff2") format("woff2");
}*/
/* CSS VARIABLES */

:root {

    /* Fonts */
    --font-sans: Helvetica, Arial, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    /* Colors */
    --alpha: .25;
    --color-white: #FFF;
    --color-grey:  rgba(0, 0, 0, var(--alpha));
    --color-black: rgba(0, 0, 0, 1);
    --color-background: var(--color-white);
    --color-text: var(--color-black);
    --color-focus-ring: var(--color-text);
    --color-disabled: var(--color-grey);

    /* Space scale */
    --space-no: 0;                          /* 0px */
    --space:    .275em;                     /* typographic space */
    --space-xs: 0.625rem;                   /* 10px */
    --space-sm: calc(var(--space-xs) * 5);  /* 50px */
    --space-md: calc(var(--space-xs) * 10); /* 100px */
    --space-lg: calc(var(--space-xs) * 20); /* 200px */

    /* Type scale */
    --text-sm: 0.75rem;   /* 12px */
    --text-md: 0.9375rem; /* 15px */

    /* Layout */
    --wrapper-max-width: 100vw;
    --gutter: var(--space-xs);
    --header-height: 4.75rem;
    --flow-space: var(--gutter);

    /* Borders */
    --border-width: 1px;
    --border-color: var(--color-black);
    --border: var(--border-width) solid var(--border-color);

    /* Grid & columns */
    --auto-grid-placement: auto-fill;
    --gap: var(--space-xs);
    
    /* Prose */
    --max-width: 64ch;
    
    /* Transitions */
    --timing: 200ms;
    --easing: ease;
}
/* AUTO-GRID COMPOSITION */

.auto-grid {
  --column-gap: var(--gap);
  --row-gap: var(--gap);
  display: grid;
  grid-template-columns: repeat(
    var(--auto-grid-placement, auto-fill),
    minmax(var(--min, 50%), 1fr)
  );
  grid-gap: var(--row-gap) var(--column-gap);
  gap: var(--row-gap) var(--column-gap);
}
/* FLEX-COLUMNS COMPOSITION */

.flex-columns {
  display: flex;
  flex-direction: column;
  margin-right: -1px;
}

@media (min-width: 60rem) { /* >= 960px */
  .flex-columns {
    flex-direction: row;
  }
  .flex-columns > * {
    flex-grow: 1;
  }
}
/* LAYOUT GRID */

.grid {
  --gap: var(--gutter);
  --column-gap: var(--gap);
  --row-gap: var(--gap);
  display: -ms-grid;
  display: grid;
  grid-gap: var(--column-gap) var(--row-gap);
  gap: var(--column-gap) var(--row-gap);
  grid-template-columns: 1fr;
  position: relative;
  width: 100%;
}

.grid > .column {
  margin-bottom: var(--gap);
  display: flex;
  flex-direction: column;
  justify-content: var(--justify-content, flex-start);
  align-items: var(--align-items, baseline);
}

@media (min-width: 35rem) { /* >= 560px */

  .grid {
    -ms-grid-columns: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
  }

  .grid > .column {
    -ms-grid-column: span 6;
    grid-column: span 6;
  }

  .grid > .column[style*="--columns:3"] {
    -ms-grid-column: span 3;
    grid-column: span 3;
  }

}

@media (min-width: 67.5rem) { /* >= 1080px */

  .grid {
    -ms-grid-columns: repeat(12, 1fr);
     grid-template-columns: repeat(12, 1fr);
  }

  .grid > .column {
    -ms-grid-column: span var(--columns);
    grid-column: span var(--columns);
  }

}/* GLOBAL CSS */

html {
  font-size: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: var(--text-md);
  font-family: var(--font-sans);
  line-height: 1.2; /* 18/15 */
  font-weight: 400;
  text-rendering: optimizeSpeed;
  font-variant-ligatures: common-ligatures;
  -moz-font-feature-settings: "liga", "clig"; 
  -webkit-font-feature-settings: "liga", "clig"; 
  font-feature-settings: "liga", "clig";
  background-color: var(--color-background, white);
  color: var(--color-text, black);
  padding: var(--gutter) 0;
}

/* If an element is [hidden] it needs to be max priority */
.hidden, [hidden] {
  display: none !important;
}

/* Disabled state */
.disabled, [disabled] {
  opacity: var(--alpha);
}

/* Placeholder */
::placeholder {
  font: inherit;
  color: rgba(0, 0, 0, .54);
}

/* Scrollbar */
* {
  scrollbar-width: auto;
  scrollbar-color: #00000040 #00000000
}
::-webkit-scrollbar { width: 5px; height: 5px }
::-webkit-scrollbar-track { background-color: #00000000 }
::-webkit-scrollbar-thumb { background-color: #00000040; border-radius: 4px }

/* Main */

main {
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
  font-size: var(--text-md);
  font-weight: 400;
  text-wrap: balance;
  position: relative;
}

h1 > a, 
h2 > a, 
h3 > a, 
h4 > a, 
h5 > a, 
h6 > a {
  text-decoration: none;
  border-bottom: none;
}

*:not(.sr-only) + h2,
*:not(.sr-only) + h3 {
  margin-top: var(--space-xs);
}

/* General typesetting */

p {
  max-width: 41em;
}

/* Lists */

ul:not([class]),
ol:not([class]) {
  list-style: none;
  padding-left: 0;
}

/* Blockquotes */

blockquote {
  padding-left: 0;
}
blockquote > * {
  padding-left: var(--space-md);
}

/* Separators */

hr {
  border: none;
  border-top: var(--border);
  margin-inline: 0;
}

hr,
hr + * {
  --flow-space: var(--space-xs);
}

/* Sub and sup */
sub,
sup {
  font-size: 0.666em;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: middle;
  position: relative;
  top: -1ex;
}

/* Address */

address {
  font: inherit;
}

/* Details */

summary {
  -webkit-appearance: none;
  list-style: none;
  cursor: pointer;
  width: fit-content;
  display: flex;
  -webkit-user-select: none;
  user-select: none;
}
summary::-webkit-details-marker,
summary::marker {
 display: none; 
 content: "";
}
summary::before {
  content: '+';
  margin-right: var(--space);
  text-decoration: ;
}
summary:hover {
  color: var(--color-link-hover, LinkText);
}
summary:hover > * {
  text-decoration: underline;
}
summary + p {
  margin-top: 0;
}
summary + .gallery,
summary + figure {
  margin-top: .5em;
}
details[open] > summary::before {
  content: '−';
}


/* Media */

figure {
  width: fit-content;
  height: fit-content;
}
figcaption {
  font-size: var(--text-md);
  margin: .16666667em 0;
  position: relative;
}
figcaption::before {
  float: right;
  margin-left: var(--gap);
}
figure + p {
  margin-top: var(--space-xs);
}

video {
  background-color: var(--color-gray);
  max-width: 100%;
  border-radius: var(--rounded-md);
}

/* Selects images that are likely to have a transparent BG and applies a */
/* theme-driven mask to them */
img[src$='.svg'],
img[src$='.png'] {
  background-color: transparent;
}
img {
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
[data-ratio="auto"] img {
  height: auto;
}

/* Links */

a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: currentColor;
}
a:hover {
  color: currentColor;
}

a.link-full::after {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  z-index: 1;
  transition: outline var(--timing) var(--easing);
}
a.link-full:focus-visible {
  outline-width: 0;
}
a.link-full:focus-visible::after {
  outline: none;
  outline-offset: 2px;
  text-decoration: underline;
}

main a {
  text-decoration: underline;
  text-decoration-color: var(--color-grey);
}
main a:active,
main a:hover {
  text-decoration-color: currentColor;
}

/* Form, Input, Buttons */

form {
  display: flex;
  gap: var(--space-xs);
}
input {
  font: inherit;
  max-height: 1.125rem; /* 18px */
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}
button {
  cursor: pointer;
}

/* General interactive states */

:focus-visible {
  outline: none;
  text-decoration: underline;
  outline-offset: 0;
  color: var(--color-background) !important;
  background: var(--color-text);
}
input:focus-visible {
  text-decoration: none;
  color: var(--color-text) !important;
  background: var(--color-background);
}

:target {
  scroll-margin-top: 0;
}

/* High contrast selection style */
::selection {
  background: var(--color-grey);
}
/* BLOCK BLOCK */

/* Block */

.block {
  display: flex;
  flex-direction: column;
}

.block h2,
.block p.text-xl {
  max-width: 35rem;
}

.block p {
  max-width: 40rem;
}

.block.text-xl p {
  max-width: 45rem;
}

/* Heading */

.block-type-heading {
  text-wrap: balance;
}

/* Text */

.block-type-text {
  --flow-space: .75em;
}
.block-type-text > * + * {
  margin-top: 1.5em;
  margin-top: var(--flow-space);
}

.block-type-text a {
  text-decoration: underline
}
.block-type-text a:hover {
  color: var(--color-text-secondary);
}
.block-type-text.text-secondary  a:hover {
  color: var(--color-text-primary);
}

/* Button */

.block-type-button {
  --flow-space: clamp(1.5rem, 1.071rem + 2.143vw, 3rem);
}

/* Image */

.block-type-image {
  background-color: var(--color-background);
  transition: background-color var(--timing) var(--easing);
}

.block-type-image svg {
  max-width: 15rem;
  max-height: 15rem;
}
.block-type-image a {
  display: flex;
  position: relative;
}
.block-type-image a::after,
.block-type-image a::before {
  content: '';
  display: block;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  border: 0 solid var(--color-primary-700);
  transition: border var(--timing, .1s) var(--easing);
  z-index: 1;
}
.block-type-image a::after {
  opacity: .1;
}
.block-type-image a::before {
  mix-blend-mode: soft-light;
}

/* Toggle */
.block[data-toggle] {
  --flow-space: 0;
}
details .block[data-toggle] summary {
  padding-left: var(--gutter);
}
.block:not(:last-child) > details {
  margin-bottom: calc(-1 * var(--flow-space));
}

@media (max-width: 67.4375rem) {
  .mobile\:slider.blocks-images {
    display: flex;
    margin: 0 calc(-1 * var(--gutter));
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
  }

  .mobile\:slider.blocks-images > .block-type-image {
    margin-top: 0;
    margin-right: var(--gutter);
    min-width: calc(100% - var(--gutter) * 2);
    scroll-snap-align: start;
  }
}

@media (min-width: 67.5rem) {

  .column:first-of-type > .blocks:first-of-type .block-type-image picture {
    margin-left: calc(-1 * var(--gutter));
  }
  .column + .column > .blocks:first-of-type .block-type-image picture {
    margin-right: calc(-1 * var(--gutter));
  }

}

/* BUTTON BLOCK */

button[aria-expanded="false"]::before {
  content: '+';
}
button[aria-expanded="true"]::before {
  content: '−';
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  padding: 0;
  width: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
}

.btn:focus-visible {
  background-color: var(--color-text-secondary);
  color: var(--color-background);
}

.btn:active {
  background-color: var(--color-secondary-700);
  border-color: var(--color-secondary-700);
  color: var(--color-primary-700);
}

@media (hover: hover) {
  .btn:hover {
    background-color: var(--color-text-secondary);
    color: var(--color-background);
  }
}
/* CARD BLOCK */

.card {
  --padding: clamp(1.5rem, 0.5rem + 5vw, 5rem);
  display: flex;
  flex-direction: column;
  position: relative;
  padding: var(--padding);
}

.card header {
  display: flex;
  flex-direction: column-reverse;
}

.card__title > a {
  font: inherit;
  color: currentColor;
}

.card__date {
  position: absolute;
  bottom: var(--padding);
  right: var(--padding);
}

.card:hover {
  background-color: var(--color-background-hover);
}
/* GALLERY BLOCK */

.gallery {
  display: flex;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0 calc(-1 * var(--gutter));
  padding: 0 var(--gutter);
}
.gallery::-webkit-scrollbar {
  display: none;
}

.gallery + .gallery {
  margin-top: var(--gutter);
}
.gallery + p {
  margin-top: .16666667em;
}

.layout .block:first-of-type > .gallery:first-of-type {
  margin-top: var(--space);
}

.gallery > * {
  flex-shrink: 0;
}
.gallery > * + * {
  margin-left: var(--gap);
}
.gallery img {
  user-drag: none;
  user-select: none;
  pointer-events: none;
}

/* Draggable */
.gallery.draggable {
  cursor: grab;
}
.gallery.draggable:active {
  cursor: grabbing;
}/* HEADER BLOCK */

/* Header */

.header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: var(--header-height);
	padding: 0 var(--gutter);
	margin-bottom: var(--space-xl);
}

.header > div {
	width: fit-content;
}

.logo::after,
#menu > *:not(:last-child)::after,
#tags > .tag:not(:last-child)::after {
	content: ',';
	display: inline-block;
	margin-right: var(--space);
}


/* Logo */

.logo {
	display: flex;
}


/* Nav */
#nav {
	position: absolute;
  left: 3.85em;
}

/* Menu & Tags */

#menu,
#tags {
	padding: 0;
	margin: 0;
	display: flex;
}

#tags {
	flex-wrap: wrap;
	position: relative;
}

#menu li {
	list-style: none;
	display: flex;
	white-space: pre;
}

#menu a[aria-current],
#tags a[aria-current] {
	text-decoration: underline;
}
#menu a:hover,
#tags a:hover {
	text-decoration: underline;
	color: var(--color-link-hover, LinkText);
}

.tag.active:hover ~ #tags-reset a,
#tags-reset a:hover {
	color: var(--color-text);
	text-decoration: underline;
}


button[aria-controls="tags"] {
	padding: 0;
	display: flex;
	float: left;
	cursor: pointer;
}
button[aria-controls="tags"]:hover {
	color: var(--color-link-hover, LinkText);
}
button[aria-controls="tags"]:hover > span {
	text-decoration: underline;
}
button[aria-controls="tags"]:hover::before {
	color: var(--color-link-hover, LinkText);
}
button[aria-controls="tags"]::before {
	margin-right: var(--space);
}
button[aria-controls="tags"]::after {
	content: ',';
	margin-right: var(--space);
}


/* Search */
#form-search label {
	cursor: pointer;
}
#input-search {
	width: 7em;
}
#input-search:focus {
	outline: none;
	text-decoration: none;
}
#reset-search {
	opacity: var(--alpha);
}
#reset-search:hover,
#reset-search:focus-visible {
	opacity: 1;
	text-decoration: underline;
}

/* Interactions */

.logo::after,
.logo ~ *,
button[aria-expanded="false"] ~ #tags {
	display: none;
}
.header[data-expanded="true"] .logo:after,
.header[data-expanded="true"] .logo ~ *,
.header:hover .logo:after,
.header:hover .logo ~ *,
.header:focus-within .logo:after,
.header:focus-within .logo ~ * {
	display: initial;
}
/* LAYOUT BLOCK */

.layout .blocks.sticky {
	position: sticky;
	top: var(--header-height);
}

.layout.grid [data-ratio]:not(.gallery) img {
  width: 100%;
}

@media (min-width: 67.5rem) {

  [data-template="creation"] section .layout > .column:first-child .blocks-images,
  #home section .layout > .column:first-child .blocks-images {
    margin-left: calc(-1 * var(--gutter));
  }
  [data-template="creation"] .layout > .column:last-child .blocks-images,
  #home section .layout > .column:last-child .blocks-images {
    margin-right: calc(-1 * var(--gutter));
  }

}/* PREV NEXT BLOCK */

.prev-next, .back {
  min-height: 3rem;
  height: clamp(3rem, 1rem + 8.889vw, 9rem);
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--color-background);
  transition: color var(--timing), background-color 300ms, opacity var(--timing);
}

.prev-next {
  position: fixed;
  left: 0;
  right: 0;
  bottom: calc(-100vh + 100%);
  bottom: calc(-100dvh + 100%);
  padding: 0;
  justify-content: center;
  z-index: 1;
}

.back {
  position: fixed;
  min-height: 2.5rem;
  top: clamp(4.75rem, 3.333rem + 6.296vw, 9rem);
  left: 0;
  right: 0;
  padding: .5em var(--gutter);
  justify-content: flex-start;
  background-color: var(--color-background);
  z-index: 10
}
.back > span {
  margin-left: .75em;
}

.prev {
  justify-content: flex-end;
}

.prev-next a {
  height: 100%;
  padding: .5em var(--gutter);
  display: inherit;
  align-items: inherit;
  flex-grow: 1;
}

.prev-next a:hover,
.back:hover {
  background-color: var(--color-background-hover);
  color: var(--color-text-secondary);
}
.invert .prev-next a:hover,
.invert .back:hover {
  color: var(--color-primary-700);
}

.invert .prev-next,
.invert .back,
.invisible {
  opacity: 0;
  visibility: hidden;
}

@media (min-width: 50rem) {

  .prev-next, .back {
    position: fixed;
    left: unset;
    top: 0;
    right: 4rem;
    right: clamp(4rem, 2.333rem + 7.407vw, 9rem);
    background: transparent;
    z-index: 10;
  }

  .back {
    min-height: 4rem;
    height: clamp(4rem, 2.333rem + 7.407vw, 9rem);
    right: calc(clamp(4.75rem, 3.333rem + 6.296vw, 9rem) + 21.5em);
  }
  .back > span {
    display: none;
  }

  .prev-next a {
    flex-grow: 0;
  }

  .prev-next__separator {
    margin: 0 .25em;
  }

}

@media (min-width: 90rem) {

  .back > span {
    display: initial;
  }


}/* PROSE BLOCK */

.prose {
  --flow-space: var(----space-xs);
  --wrapper-max-width: calc(75rem + var(--gutter) * 2);
  align-items: flex-start;
  margin: auto;
}

.prose > * + * {
  margin-top: 1.5rem;
  margin-top: var(--flow-space);
}

.prose p:empty {
  display: none;
}

.prose > img,
.prose > table {
  width: 100%;
}

.prose hr {
  margin: 4em 0;
}

.prose a:not(.btn) {
  color: currentColor;
  text-decoration: underline;
}
.prose a:not(.btn):hover {
  color: var(--color-text-secondary);
}
.prose h2 > a,
.prose h3 > a,
.prose h4 > a,
.prose h5 > a,
.prose h6 > a {
  color: var(--color-text);
}

.prose h2 {
  margin-top: 0;
  padding-top: var(--header-height);
}

.prose h3 {
  font-size: var(--text-md);
  font-weight: normal;
  line-height: 1.333;
  letter-spacing: .3rem;
  text-transform: uppercase;
  color: var(--color-text-secondary);
  margin-top: 5rem;
}

/*.prose a[href$='.pdf']:after,
.prose a[href^='http']:not([href*='localhost']):not([href*='://ehohah.fr']):not(.btn):after {
  font-size: smaller;
  font-weight: normal;
  color: currentColor;
  margin-left: .25em;
  text-decoration: none;
}

.prose a[href$='.pdf']:after {
  content: '(PDF)';
}

.prose a[href^='http']:not([href*='localhost']):not([href*='://ehohah.fr']):after {
  content: '↗︎';
}

.prose figure > a[href$='.pdf']:after,
.prose figure > a[href^='http']:not([href*='localhost']):not([href*='ehohah.fr']):after {
  display: none;
}*/

.prose p,
.prose ul,
.prose ol,
.prose blockquote,
.prose figure {
  max-width: var(--max-width);
  font-size: var(--font-size);
}

/* Add more space to elements that follow figures etc */
.prose h2 {
  --flow-space: var(--space-4xl);
}
.prose pre,
.prose pre + *,
.prose figure,
.prose figure + *,
.prose h3 {
  --flow-space: var(--space-3xl);
}
.prose h4 {
  --flow-space: var(--space-2xl);
}

.prose li > figure,
.prose li > figure + * {
  margin-top: var(--space-3xl);
}

/* Main headings should have less space for their */
/* immediate sibling */
.prose h2 + * {
  --flow-space: var(--space-2xl);
}
.prose h3 + *,
.prose h4 + * {
  --flow-space: 1.5em;
}

/* Stacked headings need to maintain larger spacing, however */
.prose h2 + h3 {
  --flow-space: var(--space-2xl);
}

/* Details gets more surrounding space, but the inner elements */
/* should all be equal */
.prose details,
.prose details + * {
  --flow-space: var(----space-xs);
}

.prose details + details {
  margin-top: 0;
}

.prose details > * {
  --flow-space: var(--space-xs);
}

.prose ul {
  list-style: initial;
}

.prose ul,
.prose ol {
  padding-left: 1em
}

.prose ul ul {
  list-style: circle;
}

.prose ul li,
.prose ol li {
  padding-left: 1em;
}

.prose ol li + li,
.prose ul li + li,
.prose li + ul,
.prose li + ol,
.prose ul + li,
.prose ol + li {
  margin-top: 1em;
}

.prose ol {
  list-style: decimal;
  /*counter-reset: ol-list;*/
}

/*
.prose ol > li::before {
  content: counter(ol-list);
  position: absolute;
  left: 0;
}
*/

.prose ol li::marker {
  font-weight: bold;
}

.prose ol > li {
  /* counter-increment: ol-list;*/
  padding-left: 1.5em;
  position: relative;
}


/* An anchor that starts with a hash is a */
/* skip link, so it needs to be visually hidden */
/* until focused or hovered */
.prose:is(h2, h3, h4, h5, h6) a[href^='#'] {
  font-size: 0.9em;
  text-decoration: none;
  color: transparent;
  transform: translateY(-0.2ex);
}
/* SKIP-LINK BLOCK */

/* The skip link is visually hidden when it is not focused. */
/* It exists so when a user hits tab on load, they can quickly */
/* skip to the main content of the site—avoiding navigation etc */
.skip-link {
  z-index: 9999;
  display: inline-block;
  width: max-content;
  max-width: 10rem;
  right: var(--gutter);
  width: auto;
  line-height: 1;
  position: absolute;
}

.skip-link:focus,
.skip-link:focus-visible {
  background: var(--color-text);
  color: var(--color-background) !important;
}

.skip-link:not(:focus) {
  /* @extend .visually-hidden */
  border: 0;
  clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
/* SPLIDE BLOCK */

.splide {
  --pb: 1.28125rem;
  display: flex;
  overflow: hidden;
  padding-bottom: var(--pb);
}

/* Counter */
.splide::before {
  content: attr(data-index)'/'attr(data-count);
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Arrows */
.splide__arrow {
  top: 0;
  transform: translateY(0%);
  background: none;
  border-radius: 0;
  opacity: 1;
  height: calc(100% - var(--pb));
  width: 50%;
}
.splide__arrow:focus,
.splide__arrow:focus-visible {
  outline: none !important;
}
.splide__arrow--prev {
  left: 0;
  cursor: w-resize;
}
.splide__arrow--next {
  right: 0;
  cursor: e-resize;
}
.splide__arrow abbr {
  --left: 3rem;
  text-decoration: none;
  position: absolute;
  bottom: calc(-1 * var(--pb));
  cursor: pointer;
}
.splide__arrow--prev abbr {
  left: var(--left);
}
.splide__arrow--next abbr {
  left: calc(-100% + var(--left) + 2.5rem);
}

/* Caption */
.splide figcaption {
  display: none;
}
.splide::after {
  content: attr(data-caption);
  position: absolute;
  bottom: 0;
  left: calc(var(--gutter) * 15);
}/* BORDER UTILITY */

/*.border-t { border-top: var(--border) }
.border-b { border-bottom: var(--border) }
.border-l { border-left: var(--border) }
.border-r { border-right: var(--border) }*/
.border   { border: var(--border) }
/* FLOW UTILITY */
/* Info: https://web.dev/design-system/css-utilities/#flow */

.flow > * + * {
  margin-top: var(--flow-space);
}
/* OVERFLOW UTILITY */

.overflow-y-hidden {
  overflow-y: hidden !important;
}
/* SCREEN READERS */

.sr-only {
  border: 0;
  clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
/* SIZE UTILITY */

.h-full {
	height: 100%;
}

.min-h-screen {
	min-height: 100vh;
	min-height: 100dvh;
}

.w-full {
	width: 100%;
}
/* TEXT UTILITY */

/* Text align */

.text-right  { text-align: right  }
.text-center { text-align: center }
.text-center .after\:underline:after {
  margin-left: auto;
  margin-right: auto;
}

/* Fonts weights */

.font-bold {
  font-weight: bold;
}
.font-normal {
  font-weight: normal;
}

/* Font sizes */

.text-sm,
.text-sm > * { 
  font-size: 1rem;
  font-size: var(--text-sm);
  line-height: 1.5; /* 24px */
}

.text-base,
.text-base > * { /* Body */
  font-size: 1rem;
  font-size: var(--text-md);
  line-height: 1.5; /* 36px */
}

.text-lg,
.text-lg > * { 
  font-size: 1.25rem;
  font-size: var(--text-lg);
  line-height: 1.25; /* 40px */
}

.text-xl,
.text-xl > * { /* Title */
  font-size: 2rem;
  font-size: var(--text-xl);
  line-height: 1.111;
}

.text-2xl,
.text-2xl > * { /* Display */
  font-size: 2.5rem;
  font-size: var(--text-2xl);
  line-height: 1.111;
}

.uppercase {
  font-style: normal;
  font-weight: 400;
  line-height: 1.333;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.max-w-prose {
  max-width: var(--max-width);
}

/* Text colors */

.text-white {
  color: var(--color-white);
}
.text-grey {
  color: var(--color-grey);
}
.text-background {
  color: var(--color-background);
}
.text-transparent {
  color: transparent;
}

/* User select */

.select-none {
  user-select: none;
}

/* Underline */

.underline {
  text-decoration: underline;
}/* WRAPPER UTILITY */

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--wrapper-max-width, 120rem);
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  position: relative;
  z-index: 1;
}
/* ARCHIVES TEMPLATE */

.archive {
	--flow-space: var(--space-xs);
	--date-w: 2.5rem;
	--date-ml: 2rem;
	--ml: calc(var(--date-w) + var(--date-ml));
	counter-reset: figure;
	display: flex;
}

.archive time {
	min-width: var(--date-w);
	margin-right: var(--date-ml);
	font-variant-numeric: tabular-nums;
}

.archive details {
	--flow-space: var(--space);
	margin-left: calc(-1 * var(--ml));
}
.archive summary {
	margin-left: var(--ml);
}
.archive summary + * {
	margin-top: 0;
}
.archive summary + .gallery,
.archive summary + figure {
	margin-top: var(--flow-space);
}
.archive summary::-webkit-details-marker {
	display: none;
}
.archive > details > summary::before {
  content: '';
  display: none;
}

.archive h2 {
	text-decoration: none;
	cursor: pointer;
}
.archive details[open] h2,
.archive h2:hover {
	text-decoration: underline;
}

.archive img {
	height: auto;
}

.archive figcaption {
	min-height: 1rem;
}
.archive figcaption::before {
	counter-increment: figure;
	content: counter(figure)"/"attr(data-count);
}

.archive details[open] > *:last-child {
	margin-bottom: var(--space-sm);
}
.archive details > h3 {
	margin-bottom: 0;
	margin-top: var(--space-xs);
}
.archive details > h3 + p {
	margin-top: 0;
}

.archive .text {
	margin-bottom: var(--gutter);
}/* PROJET TEMPLATE */

[data-template="projet"] > .header {
	min-height: unset;
	margin-bottom: 0;
}

[data-template="projet"] h1 {
	margin-bottom: calc(2 * var(--space-xs));
}
